<!doctype html>
<html ng-app>
<head>
        <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script type="text/javascript" src="todo.js"></script>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="todo.css">
</head>
<body>
        <div class="style_awesome">
        <!--    Sets up style for the list of todo items to be displayed-->
           <div ng-controller="TodoCtrl">
               <h2>Total To Do's: {{getTotalTodos()}}</h2>
            <ul class="unstyled">
                <li ng-repeat="todo in todos">
                    <input type="checkbox" ng-model="todo.done">
                    <span class="done-{{todo.done}}">{{todo.text}}</span>
                </li>
            </ul>

        <!--       Builds input box to add to todo list-->
            <form class="form-horizontal">
              <input type="text" ng-model="formTodoText" ng-model-instant> 
                <button class="btn btn-info" ng-click="addTodo()"><i class="glyphicon glyphicon-plus">Add</i></button>
            </form>
               <button class="btn btn-large" ng-click = "clearCompleted()"><i class ="glyphicon glyphicon-trash"></i>Clear Completed</button>
            </div> 

   </div> 
</body>



</html>